<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Create new User</title>
</head>
<body>
<h1>Create new user</h1>


<form th:method="POST" th:action="@{/add}" th:object="${User}">
    <label for="name">First name </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <label for="lastName">Last name </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br>
    <label for="email">E-mail </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br>
    <label for="password">Password</label>
    <input type="password" th:field="*{password}" id="password"/>
    <div>
        <p>Select roles: </p>
        <select th:name="rolesArr" multiple required size="5">
            <div th:each="role : ${Roles}">
                <option th:text="${role.getRole()}"
                        th:value="${role.getId()}">
                </option>
            </div>
        </select>
    </div>
    <br>
    <button type="submit">Ok</button>
</form>
<br>
<a href="/list">Back</a>
<br>
<a href="/logout">Logout</a>
</body>
</html>