<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Users</title>
    <style>
        table th, table td {
            padding: 5px;
        }
    </style>
</head>

<body>
<h1>Users</h1>

<table border="1">
    <tr>
        <th>N</th>
        <th>Id</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>E-mail</th>
        <th>Delete</th>
        <th>Edit</th>

    </tr>

    <tr th:each="users, state : ${messages}">
        <td th:utext="${state.count}">N</td>
        <td th:utext="${users.getId()}">Id</td>
        <td th:utext="${users.getName()}">Name</td>
        <td th:utext="${users.getLastName()}">Last Name</td>
        <td th:utext="${users.getEmail()}">E-mail</td>

        <td><a th:href="@{/delete={id}(id=${users.getId()})}">Delete</a></td>
        <td><a th:href="@{/update={id}(id=${users.getId()})}">Edit</a></td>

    </tr>
</table>
<a href="/create">Create new User</a>
<br>
<a href="/adminPage">Home</a>
<br>
<a href="/logout">Logout</a>

</body>
</html>